db/* filter=lfs diff=lfs merge=lfs -text
db/WordformsList.js filter=lfs diff=lfs merge=lfs -text
repos/freeword-all-byword/db/freeword-all-byword.js filter=lfs diff=lfs merge=lfs -text
repos/freeword-all-byword/db/index.js filter=lfs diff=lfs merge=lfs -text
repos/*/db/*.js filter=lfs diff=lfs merge=lfs -text
repos/freeword-all-byword/db/freeword-all-byword.json filter=lfs diff=lfs merge=lfs -text
repos/freeword-all-flat/db/freeword-all-flat.json filter=lfs diff=lfs merge=lfs -text
db/freeword-all-list-pretty.json filter=lfs diff=lfs merge=lfs -text
repos/freeword-all-byword/db/freeword-all-byword-am.json filter=lfs diff=lfs merge=lfs -text
repos/freeword-all-byword/db/freeword-all-byword-mz.json filter=lfs diff=lfs merge=lfs -text
repos/freeword-all-flat/db/freeword-all-flat-am.json filter=lfs diff=lfs merge=lfs -text
repos/freeword-all-flat/db/freeword-all-flat-mz.json filter=lfs diff=lfs merge=lfs -text
raw/**/* filter=lfs diff=lfs merge=lfs -text
raw/wiktionary/wiktionary_en_en-some.jsonl filter=lfs diff=lfs merge=lfs -text
